@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #dfe7f8;
  font-family: "Golos Text", sans-serif;
}

.chat {
  width: 650px;
}
